.welcomePageUnit {
  border: 1px rgb(0, 0, 0) solid;
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin: 1rem;
}
.welcomePageUnit img {
  width: 300px;
}
.theBelethorPart {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-around;
  align-items: left;
}
.theQuote {
  text-align: left;
  font-size: 1rem;
  margin: 1rem;
  line-height: 2rem;
}

.welcomPart {
  padding: 1rem;
  font-weight: normal;
  line-height: 2rem;
}

@media screen and (max-width: 1100px) {
  .theBelethorPart {
    display: flex;
    flex-direction: column;
  }
  .welcomePageUnit img {
    width: 200px;
  }
}
